/* Navigation */
.navbar-collapse .navbar-nav .nav-item a:hover {
    color: #ff523b;
}

.cart-item {
    margin-bottom: 1rem;
}

/* Banner */
.banner-image {
    background: url('img/banner.jpg') no-repeat center center / cover;
    min-height: 600px;
}

/* Feature Products Card */
.card-title a {
    color: #333; 
    text-decoration: none; 
}

/* Media queries for responsive adjustments */
@media (max-width: 768px) {
    .banner-image {
        min-height: 300px; /* Adjust banner image for smaller devices */
    }
}








/* Import Google font - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
a {
  text-decoration: none;
}
.header {
  position: fixed;
  height: 80px;
  width: 100%;
  z-index: 100;
  padding: 0 20px;
}
.nav {
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
}
.nav,
.nav_item {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: space-between;
}
.nav_logo,
.nav_link,
.button {
  color: #fff;
  background-color:#ffc107 !important;
  margin-left: 5px;
  transition-duration: 1s;
}
.button:hover {
  background-color:#9d8027 !important;
}
.nav_logo {
  font-size: 25px;
}
.nav_item {
  column-gap: 25px;
}
.nav_link:hover {
  color: #d9d9d9;
}
.button {
  padding: 6px 24px;
  border: 2px solid #fff;
  background: transparent;
  border-radius: 6px;
  cursor: pointer;
}
.button:active {
  transform: scale(0.98);
}

/* Home */
.home {
  position: relative;
  height: 100vh;
  width: 100%;
  background-image: url("bg.jpg");
  background-size: cover;
  background-position: center;
  display: none;
}
.show{
  display: block !important;
  position: absolute !important;
}
.home::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 100;
  opacity: 0;
  pointer-events: none;
  transition: all 0.5s ease-out;
}
.home.show::before {
  opacity: 1;
  pointer-events: auto;
}
/* From */
.form_container {
  position: fixed;
  max-width: 320px;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1.2);
  z-index: 101;
  background: #fff;
  padding: 25px;
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.4s ease-out;
}
.home.show .form_container {
  opacity: 1;
  pointer-events: auto;
  transform: translate(-50%, -50%) scale(1);
}
.signup_form {
  display: none;
}
.form_container.active .signup_form {
  display: block;
}
.form_container.active .login_form {
  display: none;
}
.form_close {
  position: absolute;
  top: 10px;
  right: 20px;
  color: #0b0217;
  font-size: 22px;
  opacity: 0.7;
  cursor: pointer;
}
.form_container h2 {
  font-size: 22px;
  color: #0b0217;
  text-align: center;
}
.input_box {
  position: relative;
  margin-top: 30px;
  width: 100%;
  height: 40px;
}
.input_box input {
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  padding: 0 30px;
  color: #333;
  transition: all 0.2s ease;
  border-bottom: 1.5px solid #aaaaaa;
}
.input_box input:focus {
  border-color: #7d2ae8;
}
.input_box i {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
  color: #707070;
}
.input_box i.email,
.input_box i.password {
  left: 0;
}
.input_box input:focus ~ i.email,
.input_box input:focus ~ i.password {
  color: #7d2ae8;
}
.input_box i.pw_hide {
  right: 0;
  font-size: 18px;
  cursor: pointer;
}
.option_field {
  margin-top: 14px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.form_container a {
  color: #7d2ae8;
  font-size: 12px;
}
.form_container a:hover {
  text-decoration: underline;
}
.checkbox {
  display: flex;
  column-gap: 8px;
  white-space: nowrap;
}
.checkbox input {
  accent-color: #7d2ae8;
}
.checkbox label {
  font-size: 12px;
  cursor: pointer;
  user-select: none;
  color: #0b0217;
}
.form_container .button {
  background: #7d2ae8;
  margin-top: 30px;
  width: 100%;
  padding: 10px 0;
  border-radius: 10px;
}
.login_signup {
  font-size: 12px;
  text-align: center;
  margin-top: 15px;
}
:root{
  --body-font:  'Roboto',  sans-serif;
  --heading-font:  'Inter',  sans-serif;
  --theme-color:  #FBA707;
  --theme-bg-light:  #F9F9F9;
  --body-text-color:  #757F95;
  --color-white:  #ffffff;
  --color-dark:  #111111;
  --color-green:  #11B76B;
  --color-blue:  #0049D0;
  --color-yellow:  #FBA707;
  --hero-overlay-color:  #01060F;
  --slider-arrow-bg:  rgba(255,  255,  255,  0.2);
  --box-shadow:  0 0 40px 5px rgb(0 0 0 / 5%);
  --box-shadow2:  0 0 15px rgba(0,  0,  0,  0.17);
  --transition:  all .5s ease-in-out;
  --transition2:  all .3s ease-in-out;
}
.login-form {
  margin: 100px;
  padding: 40px;
  background: var(--color-white);
  border-radius: 10px;
  box-shadow: var(--box-shadow);
}
.login-form .login-header {
  text-align: center;
  margin-bottom: 50px;
}
.login-form .login-header img {
  width: 200px;
  margin-bottom: 10px;
}
.login-form .login-header h3 {
  color: var(--theme-color);
  margin-bottom: 5px;
  font-weight: 800;
}
.login-form .login-header p {
  font-size: 20px;
}
.login-form .login-footer {
  margin-top: 25px;
}
.login-form .login-footer p {
  text-align: center;
}
.login-form .login-footer a {
  color: var(--theme-color);
  transition: .5s;
}
.login-form .login-footer a:hover {
  color: var(--color-dark);
}
.login-form .form-group {
  margin-bottom: 20px;
}
.login-form label {
  color: var(--color-dark);
  margin-bottom: 5px;
}
.login-form .form-group .form-control {
  border: 1px solid #e8e8e8;
  border-radius: 10px;
  padding: 12px 18px;
  box-shadow: none;
  transition: .5s;
}
.login-form .form-group .form-control:focus {
  border-color: var(--theme-color);
}
.login-form .form-check-input {
  box-shadow: none;
  border-radius: 2;
}
.login-form .forgot-pass {
  color: var(--theme-color);
  transition: .5s;
}
.login-form .forgot-pass:hover {
  color: var(--color-dark);
}
.login-form .theme-btn {
  width: 100%}
.login-form .theme-btn::before {
  width: 420px;
  height: 420px;
}
.login-form .theme-btn i {
  margin-right: 5px;
}
.login-form .form-check-input {
  margin-top: 6.3px;
}
.login-form .form-check-label a {
  color: var(--theme-color);
  transition: .5s;
}
.login-form .form-check-label a:hover {
  color: var(--theme-color);
}
.form-check-input:checked {
  background-color: var(--theme-color);
  border-color: var(--theme-color);
}

.social-login {
  border-top: 1px solid #f1f1f1;
  margin-top: 15px;
}
.social-login p {
  margin: 10px 0;
}
.social-login-list {
  text-align: center;
}
.social-login-list a {
  width: 40px;
  height: 40px;
  line-height: 40px;
  background: var(--theme-color);
  border-radius: 50px;
  margin: 5px;
}
.social-login-list a i {
  color: var(--color-white);
}
.social-login-list a:hover {
  background: var(--color-dark);
}
@media only screen and (max-width:991px) {
  .login-form {
  padding: 40px 20px;
}
}